<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    cacheResultFile=".phpunit.cache/test-results"
    executionOrder="depends,defects"
    colors="true"
    beStrictAboutCoversAnnotation="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    convertDeprecationsToExceptions="true"
    stopOnError="true"
    failOnRisky="true"
    failOnWarning="true"
    failOnSkipped="true"
    failOnEmptyTestSuite="true"
    processIsolation="true"
    stopOnFailure="true"
    verbose="false">
  <testsuites>
    <testsuite name="Units">
      <directory suffix="Test.php">tests/Units</directory>
    </testsuite>
  </testsuites>
  <coverage disableCodeCoverageIgnore="false"/>
</phpunit>
